---

---

<div
  class="text-sm bg-green-950 text-green-100 dark:bg-transparent dark:border-b dark:border-green-900/50 dark:text-green-200 hidden md:flex gap-2 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="bg-white/15 dark:bg-green-900/70 text-green-50 dark:text-green-100 font-semibold px-1.5 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block rounded"
    >NOTE</span
  >
  <a href="/now" class="text-green-100 hover:underline dark:text-green-200 font-medium">
    This site is being rebuilt as a focused personal blog.
  </a>
</div>
